{:paths ["src"], :deps #:io.github.kotoba-lang{kotoba-core-contracts #:git{:url "https://github.com/kotoba-lang/kotoba-core-contracts.git", :sha "2e615d17406ef4b6311401167294becceb5af2a1"}}, :aliases {:test {:extra-paths ["test"], :extra-deps #:io.github.cognitect-labs{test-runner #:git{:tag "v0.5.1", :sha "dfb30dd"}}, :main-opts ["-m" "cognitect.test-runner"]}}}